* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Overpass", sans-serif;
}
:root {
  --Orange: #fb7413;
  --Light-Grey: #959eac;
  --Medium-Grey: #7c8798;
  --Dark-Blue: #252d37;
  --input-color: rgb(56 62 70 / 55%);
  --Very-Dark-Blue: #121417;
  --8px: 0.5rem;
  --12px: 0.75rem;
  --15px: 0.9375rem;
  --16px: 1rem;
  --18px: 1.125rem;
  --24px: 1.5rem;
  --32px: 2rem;
  --48px: 3rem;
  --128px: 8rem;
}
body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--Very-Dark-Blue);
}
article {
  max-width: 25rem;
  background-color: var(--Dark-Blue);
  padding: var(--24px);
  border-radius: var(--24px);
}
article h1,
h2 {
  color: #fff;
  font-weight: normal;
}
.submited {
  display: none;
  text-align: center;
}
.submited img {
  margin-bottom: var(--18px);
}
.submited .rating {
  width: fit-content;
  margin: 0 auto var(--32px);
  font-size: var(--18px);
  color: #f06f13af;
  background-color: var(--input-color);
  padding: var(--8px) var(--24px);
  border-radius: var(--128px);
}
.submited h2 {
  font-size: var(--24px);
  margin-bottom: var(--12px);
}
.submited .support {
  font-size: var(--15px);
  color: var(--Medium-Grey);
}

.main-page img {
  background-color: rgb(56 62 70 / 55%);
  padding: var(--12px);
  border-radius: 50%;
  margin-bottom: var(--24px);
}
.main-page h1 {
  font-weight: normal;
  font-size: var(--32px);
  margin-bottom: var(--12px);
}
.main-page p {
  font-size: var(--15px);
  color: var(--Medium-Grey);
  margin-bottom: var(--24px);
}
.main-page form .feedbacks {
  display: flex;
  align-items: center;
  gap: var(--24px);
  margin-bottom: var(--24px);
}
.main-page input[type="radio"] {
  display: none;
}
.main-page .user-feedback + label {
  width: var(--48px);
  height: var(--48px);
  font-size: var(--16px);
  color: var(--Light-Grey);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--input-color);
  cursor: pointer;
  transition: 0.3s;
}
.main-page .user-feedback + label:hover {
  background-color: var(--Light-Grey);
  color: #fff;
}
.main-page .user-feedback:checked + label {
  background-color: var(--Orange);
  color: #fff;
}
.main-page input[type="button"] {
  width: 100%;
  border: none;
  cursor: pointer;
  background-color: var(--Orange);
  color: #fff;
  text-transform: uppercase;
  font-size: var(--18px);
  padding: var(--12px);
  border-radius: var(--128px);
}
.main-page input[type="button"]:active {
  background-color: #fff;
  color: var(--Orange);
}
